@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Public Sans', system-ui, sans-serif;
    --container-8xl: 90rem;
    --container-9xl: 100rem;
}

@theme static {
  --color-brand-50: var(--color-slate-50);
  --color-brand-100: #E9EBF3;
  --color-brand-200: #BCC4DC;
  --color-brand-300: #9AA6CA;
  --color-brand-400: #6D7FB3;
  --color-brand-500: #1E3A8A;
  --color-brand-600: #14265A;
  --color-brand-700: #0F1D45;
  --color-brand-800: #0B1430;
  --color-brand-900: #0B1430;
  --color-brand-950: var(--color-slate-950);
}

@layer base {
    h1 {
        @apply text-3xl font-bold
    }

    h2 {
        @apply text-2xl font-semibold
    }

    h3 {
        @apply text-lg font-semibold
    }

    h4 {
        @apply text-lg
    }

    h5 {
        @apply font-semibold
    }
}

@layer components {
    .scrollbar {
        @apply  [&::-webkit-scrollbar]:w-2
                [&::-webkit-scrollbar-track]:rounded-none
                [&::-webkit-scrollbar-thumb]:rounded-none
                [&::-webkit-scrollbar-track]:bg-brand-100
                [&::-webkit-scrollbar-thumb]:bg-brand-300
                dark:[&::-webkit-scrollbar-track]:bg-brand-700
                dark:[&::-webkit-scrollbar-thumb]:bg-brand-500/50
    }

    .navbar-ghost-button {
        @apply  max-lg:text-secondary-300!
                max-lg:hover:bg-primary/50!
                max-lg:dark:hover:bg-primary/25!
                max-lg:active:bg-primary/50!
                max-lg:dark:active:bg-primary/25!
                cursor-pointer
                transition-colors
    }
}

:root {
    --ui-container: var(--container-9xl);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}